{% extends "base.html" %}

{% block titulo  %}  Inicio  {% endblock %}

{% block contenido  %} 

<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">{{ user.username | upper }} Bienvenido al sitio de la libreria</h1>
        <p class="lead">aqui encontraras informacion de estudio</p>
        <hr class="my-2">
             
        <p class="lead">
            
        </p>
    </div>
</div>
<!DOCTYPE html>
<html>
    <head>
        <title>Comentarios</title>
        </head>
        <body>
            <a class="nav-item nav-link active" href="{% url 'comentar' %}">Click para comentar</a>
        </body>
    

</html>
{% endblock %}

