{% extends "base.html" %}

{% block titulo  %}  leer mas  {% endblock %}

{% block contenido  %} 

Lorem ipsum dolor sit amet. Non omnis maiores ut exercitationem exercitationem est debitis quia sed aliquam rerum qui laborum repudiandae quo fugit ipsam. Et repellendus delectus ut commodi iste et deleniti accusantium hic earum quia. Ut voluptatem enim ad incidunt placeat cum autem culpa aut libero itaque ut necessitatibus quas est fugit voluptas. Ut optio ducimus et eligendi nihil id alias voluptatem!

Quo tempora dolor qui rerum beatae ex fugiat numquam et debitis ullam sit aliquid sint. Est sint placeat quo mollitia obcaecati a quibusdam earum eos consequatur doloribus rem inventore velit id cupiditate quae. Et impedit adipisci eum recusandae saepe ea quas officia et recusandae alias 33 dicta eveniet ea necessitatibus molestias. Id nesciunt ipsa aut iusto optio sit quis harum nam voluptatibus temporibus et incidunt repellat aut fugiat autem?

In odit impedit sed nihil obcaecati et nisi voluptatem in rerum quia aut modi fugiat At quisquam odit. Et suscipit voluptas et fugit placeat At accusamus rerum et reprehenderit atque et laborum blanditiis.

{% endblock %}